@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --back-color: #202C36;
  --title-color: #fff;
  --primery-color: #2B3844;
  --moon-img: url('../img/sun-regular-24 (1).png');
  --placeholder: #fff;
}

:root {
  --back-color: #f2f2f2;
  --title-color: #111517;
  --primery-color: #fff;
  --moon-img: url('../img/moon-regular-24.png');
  --placeholder: #848484
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--back-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}

.container {
  width: 1300px;
  padding: 0 10px;
}

.site-section {
  background-color: var(--primery-color);
  padding: 24px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: var(--title-color);
}

.dark-mode {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  color: var(--title-color);
}

.dark-mode::before {
  content: '';
  width: 22px;
  height: 24px;
  display: inline-block;
  background-image: var(--moon-img);
  background-size: cover;
  position: relative;
  right: 8px;
  margin-left: 8px;
}

.site-main {
  padding: 48px 0;
}

.input-search {
  background-color: var(--primery-color);
  padding: 20px 32px;
  width: 480px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.bx-search-alt-2 {
  color: var(--title-color);
  font-size: 25px;
  margin-right: 24px;
}

input[type="text"] {
  background-color: transparent;
  color: var(--title-color);
  border: none;
  font-size: 18px;
  padding: 5px 0;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  color: var(--placeholder);
}

.select-op {
  padding: 18px 24px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  background-color: var(--primery-color);
  border: transparent;
  color: var(--title-color);
}

.country-list {
  width: 264px;
  height: 336px;
  background-color: var(--primery-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  list-style: none;
}

.list-itme {
  padding-top: 24px;
  padding-left: 24px;
}

.flag-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}

.color-f {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-color);
}

.op-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-color);
}

.flag-text {
  margin-top: 16px;
}

.flag-p {
  margin-top: 8px;
}

.flag-cap {
  margin-top: 8px;
}

.city {
  margin-top: 70px;
  margin-bottom: 50px;
}